<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{name}} - Reset Password</title>

  <!-- Bootstrap for this template-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

</head>

<body class="">
  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- <a class="navbar-brand" href="/"><img src="/./img/logo.png" alt="" /></a> -->
  </nav>

  <div class="container">
    @if(old('message'))
    <div class="alert alert-{{ old('type') }}">
      {{ old('message') }}
    </div>
    @endif
    <div class="row login mt-5">
      <div class="col-md-4 mt-4">
        <div class="heading mb-5">
          <h2>Reset your password?</h2>
          <p class="white">Reset your password.</p>
        </div>
        <form action="{{route('reset')}}" method="POST">
          <div class="form-group mb-4">
            <div class="form-group">
              <label for="inputPassword">New Password</label>
              <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                required="required">
            </div>
          </div>
          <div class="form-group mb-4">
            <div class="form-group">
              <label for="inputPassword">Confirm Password</label>
              <input type="password" id="inputPassword" name="password_confirmation" class="form-control"
                placeholder="Confirm Password" required="required">
              <input type="hidden" id="paramToken" name="token" class="form-control" value="{{token}}">
            </div>
          </div>
          <button class="btn btn-primary btn-block">Reset Password</button>
        </form>

      </div>
    </div>
  </div>
</body>

</html>